@media only screen and (max-width: 1250px) {
    .filter_category {
        &__content {
            .main_container {
                padding-top: 115px !important;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .product-slider {
        &__card {
            &_wrap {
                .product-slider__card_item {
                    width: calc(50% - 10px);
                }
            }
        }

        &.product {
            .title {
                font-size: 24px;
                font-weight: 600;
                line-height: 28px;
            }

            .product-slider__card_wrap {
                .product-slider__card_item {
                    width: calc(50% - 10px);
                }
            }
        }
    }
}

@media only screen and (max-width: 1160px) {
    header {
        .header_bottom {
            gap: 50px;
        }
    }
}

@media only screen and (min-width: 1100px) {
    .mobile_menu {
        display: none !important;
    }
}

@media only screen and (max-width: 1100px) {
    .wrapper {
        .main_container {
            padding: 0 48px;
        }
    }

    header {
        .header_top {
            display: none;
        }

        .header_bottom_link {
            margin-right: 20px;
            gap: 40px;
            flex-shrink: 0;

            img {
                width: 30px;
            }

            .heart_btn {
                .number {
                    right: -28px;
                }
            }

            .shop_btn {
                .number {
                    right: -28px;
                }
            }

            .header_bottom_item {
                span {
                    display: none;
                }
            }
        }

        .header_bottom {
            gap: 10px;
            padding: 20px 0 40px 0;


            .logo {
                flex-shrink: 0;
            }
        }

        .header_search_media {
            display: flex;
            margin-bottom: 80px;
        }

        .header_search {
            display: none;
        }
    }

    footer {
        .footer_top {
            padding: 30px 0 40px 0;

            .main_container {
                flex-wrap: wrap;
                gap: 40px 20px;
                justify-content: start;
            }

            .footer_block {
                width: calc(100% / 3 - 14px);

                .footer_item_block {
                    white-space: nowrap;

                    br {
                        display: none;
                    }
                }

                h6 {
                    font-size: 18px;
                }

                .footer_link {
                    gap: 12px;

                    a {
                        font-size: 16px;
                    }

                    .footer_item_block {
                        font-size: 18px;
                    }
                }
            }
        }

        .footer_bottom {
            padding: 30px 0;

            .main_container {
                align-items: start;
                flex-direction: column-reverse;
                gap: 40px;

                p {
                    font-size: 18px;
                }
            }

            .footer_pay {
                span {
                    font-size: 18px;
                }

            }


            .footer_pay_in {
                gap: 22px;
            }
        }
    }

    .error {
        .error_wrapper {
            .error_text {
                position: static;
                transform: translateY(-20%);
            }
        }
    }

    .wrapper {
        .main_container {
            padding: 0 49px;
        }
    }

    .home-border {
        &__left {
            display: none;
        }

        &__right {
            display: none;
        }
    }

    .home-block {
        &__left {
            display: none;
        }

        &__right {
            width: 100%;
        }
    }

    .home-slider {
        width: calc(100% + 98px);
        margin-left: -49px;
        padding: 0;

        &_item {
            padding: 30px 49px 40px;

            img {
                height: 510px;
                width: 100%;
                object-fit: contain;
            }

            p {
                font-size: 16px;
                line-height: 19px;
                left: 49px;
                bottom: 40px;
            }

            &_card {
                gap: 20px;

                img {
                    height: 200px;
                }
            }
        }
    }

    .product-slider {
        &__card {
            &__btn_prev {
                display: none;
            }

            &__btn_next {
                display: none;
            }
        }
    }

    .home-descriptions {
        p {
            font-size: 18px;
        }
    }

    .product-card {
        gap: 20px;
        flex-wrap: wrap;
        align-items: stretch;

        .description {
            display: block;
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            line-height: 145%;
            margin-top: 30px;
        }

        &__left {
            width: calc(100% - 325px - 20px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .description {
                display: none;
            }
        }

        &__parent_slider {
            margin-bottom: 66px;
            width: 100%;
            height: 100%;

            .swiper-slide {
                height: 100%;
            }

            .main_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .child_slider__wrap {
            max-width: 670px;
            margin-bottom: 0;
            flex-shrink: 0;

            .swiper {
                width: 232px;
            }

            .swiper-slide {

                img {
                    height: 60px;
                }
            }
        }

        &__right {
            width: 325px;
            padding: 10px 10px 26px;

            &_head {
                align-items: flex-start;
                gap: 12px;

                h2 {
                    font-size: 18px;
                }

                .card_like {
                    width: 35px;
                    height: 35px;

                    img, svg {
                        width: 17.5px;
                        height: auto;
                    }
                }
            }

            &_comment {
                margin-bottom: 20px;

                &__text {
                    gap: 10px;

                    .stars {
                        gap: 6px;
                    }

                    span {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16px;
                    }
                }

                .card_subtitle {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 16px;
                }
            }

            &__datas {
                font-size: 16px;
                font-weight: 500;
                line-height: 140%;
                gap: 10px;
                margin-bottom: 30px;

                &_item {
                    gap: 7px;
                }

                .key {
                    width: 100%;

                    .line {
                        width: 100%;
                    }
                }

                .value {
                    width: auto;
                    white-space: nowrap;
                }
            }

            &_foot {
                .price {
                    gap: 10px;

                    span {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 30px;
                    }

                    del {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 30px;
                    }
                }

                .main_btn {
                    padding: 7px 10px 8px;
                    gap: 15px;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 30px;
                }
            }
        }
    }

    .auth_block {
        &__content {
            top: -150px;
        }
    }

    .filter_category {

        &__content {
            width: 100%;
            margin-left: 0;

            .category_list {
                flex-wrap: wrap;

                .line_3 {
                    // display: none;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .filter_modal {
        display: none !important;
    }

    .auth_block {
        display: none;

        &.active {
            display: block;

            @keyframes authContentAcitve {
                from {
                    transform: translateX(100vw);
                }
                to {
                    transform: translateX(0);
                }
            }

            .auth_block__content {
                animation: authContentAcitve .5s linear 1;
            }
        }

        @keyframes authEndActive {
            from {
                display: block;
            }
            to {
                display: block;
            }
        }

        &.end-active {
            display: none;
            animation: authEndActive .5s linear 1;

            @keyframes authContentEndAcitve {
                from {
                    transform: translateX(0);
                }
                to {
                    transform: translateX(100vw);
                }
            }

            .auth_block__content {
                animation: authContentEndAcitve .5s linear 1;
            }
        }
    }
}

@media only screen and (max-width: 992px) {

    .contact {

        .right_block {
            width: 100%;

            .contact_map {
                iframe {
                    height: 259px;
                }
            }

            .contact_text {
                .contact_text_block {
                    margin-bottom: 30px;
                }

                h6 {
                    font-size: 24px;
                    line-height: 28px;
                }
            }

            .contact_text_block {

                h6 {
                    font-size: 24px;
                    line-height: 28px;
                }

                p {
                    font-size: 16px;
                }
            }

            .help_title {
                font-size: 24px;
                margin-bottom: 40px;
            }

            .help_block {
                margin-bottom: 30px;

                h5 {
                    font-size: 24px;
                }
            }

        }

        .payment_text {
            h6 {
                font-size: 24px;
                margin-bottom: 20px;
            }

            iframe {
                height: 260px;  
            }

            ul {
                margin-bottom: 30px;

                li {

                    .circle {
                        width: 14px;
                        height: 14px;
                    }

                    font-size: 16px;

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 160%;
                    }
                }
            }

            p {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }

        .about_text {
            h6 {
                font-size: 16px;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            h5 {
                font-size: 24px;
                margin-bottom: 30px;
            }

            p {
                font-size: 16px;
                margin-bottom: 20px;
            }

            .about_cards {
                margin-bottom: 30px;
            }

            .about_card {

                img {
                    width: 70px;
                }

                span {
                    font-size: 16px;
                }
            }
        }
    }

    .authors {
        margin: 40px 0;
        .authors_card {
            padding: 0 20px 0 20px;

            &:first-child {
                padding: 0 20px 0 20px;
            }

            a {
                font-size: 16px;
                line-height: 19px;
            }
        }

        .main_container {
            .scroll_top {
                width: 40px;
                height: 40px;
                position: absolute;
                bottom: -100px;
                right: 10px;
                background-color: $white;

                svg {
                    width: 21px;
                    path {
                        fill: $coral;
                    }
                }
            }
        }

        ul {
            padding-bottom: 0;
        }
    }

    .articles {
        .articles_card {
            flex-direction: column;
            gap: 36px;

            .articles_card_text {
                padding: 15px 8px 8px 8px;
                padding-left: 8px;
                width: 100%;
            }
        }


        .articles_card_img {
            width: 100%;
        }
    }

    // Discount Descriptions
    .discount_descriptions {
        p {
            font-size: 16px;
        }
    }
    // Discount Descriptions end

    .main_pagination {
        margin: 80px 0;
    }

    .main_filter {
        width: 100%;

        &__head {
            button {
                display: flex;
                align-items: center;
                gap: 15px;
                color: #000000;
                font-size: 14px;
                font-weight: 600;
                line-height: 16px;
            }
        }
    }

    .product-commentary {
        &__head {
            margin-bottom: 60px;

            h2 {
                font-size: 24px;
                font-weight: 600;
                line-height: 28px;
            }

            .main_btn {
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                padding: 7px 24px 8px;
                gap: 35px;
            }
        }

        &__item {
            &_wrap {
                gap: 30px;
            }

            &_head {
                margin-bottom: 26px;

                span {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 21px;
                }
            }

            &_description {
                margin-bottom: 20px;
            }
        }
    }

    .auth_block {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        padding: 0 !important;

        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.53);
            z-index: -1;
        }

        &__close {
            top: -38.44px;
            right: -21px;
            transform: translateY(-100%);
        }

        &__content {
            position: static;
            width: 100%;
            height: 768px;

            &_in {
                width: 450px;
                margin: 0 auto;
                position: relative;
            }
        }
    }

    .about_author {
        gap: 15px;
        flex-direction: column;

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 16px;
        }

        p {
            font-size: 16px;
        }

        &__left {
            display: flex;
            align-items: flex-start;
            gap: 20px;

            h2 {
                display: block;
            }

            img {
                width: 210px;
            }
        }

        &__right {
            gap: 10px;

            h2 {
                display: none;
            }
        }
    }

    .filter_category {

        &__content {
            .category_list {
                .line_3 {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) and (max-height: 750px) {
    .auth_block {
        &__content {
            overflow-y: scroll;
            height: 100%;

            &_in {
                height: 670px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {

    header {

        .header_bottom_link {
            margin-right: 0px;
            gap: 40px;
            flex-shrink: 0;
            align-items: center;

            .media_btn {
                @include flex-full-center;
            }

            img {
                width: 30px;
            }

            .heart_btn, .shop_btn {
                display: none;
            }

        }

        .header_bottom {
            gap: 10px;
            padding: 30px 0 40px 0;


            .logo {
                width: 140px;
                flex-shrink: 0;
            }
        }

        .header_search_media {  
            height: 38px;
            margin-bottom: 40px;

            .catalog_btn {
                width: auto;
                span {
                    display: none;
                }
            }
        }

    }

    footer {

        .footer_top {
            padding: 20px 0;

            .main_container {
                gap: 20px;
            }

            .footer_block {
                width: calc(100% / 2 - 10px);

                h6 {
                    margin-bottom: 10px;
                    font-size: 16px;
                }

                .footer_link {
                    gap: 15px;

                    a {
                        font-size: 14px;
                    }

                    .footer_item_block {
                        white-space: wrap;
                        max-width: 300px;
                        font-size: 16px;
                    }
                }
            }
        }

        .footer_bottom {
            padding: 28px 0;

            .main_container {
                gap: 20px;

                p {
                    font-size: 16px;
                }
            }

            .footer_pay {
                flex-direction: column;
                align-items: start;
                gap: 20px;

                span {
                    font-size: 14px;
                }
            }

            .footer_pay_in {
                gap: 12px;

                a {
                    width: 50px;
                }
            }
        }
    }

    .main_breadcrumb {
        span, a {
            font-size: 12px;
        }

        img {
            width: 14px;
        }
    }

    .error {
        margin: 40px 0;

        .error_wrapper {
            .error_text {
                h6 {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 14px;
                    margin-bottom: 39px;
                }

                a {
                    width: 100%;
                    height: 40px;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 30px;
                }
            }
        }
    }

    .contact {
        padding: 30px 0 40px 0;

        .left_block {   
            margin-bottom: 40px;
            flex-wrap: wrap;
            padding: 20px;
            width: 100%;
            flex-direction: row;
            gap: 24px 46px;

            a {
                white-space: nowrap;
                font-size: 16px;
                font-weight: 600;
                line-height: 19px;
            }
        }

        .right_block {
            .contact_map {
                iframe {
                    height: 117px;
                    margin-bottom: 40px;
                }
            }

            .contact_text {
                .contact_text_block {
                    margin-bottom: 30px;
                }

                h6 {
                    font-size: 16px;
                    line-height: 19px;
                }
            }

            .contact_text_block {

                h6 {
                    font-size: 16px;
                    line-height: 19px;
                }

                p {
                    font-size: 14px;
                    line-height: 160%;
                }
            }

            form {
                width: 100%;
                padding: 20px 10px;

                input, textarea {
                    font-size: 14px;
                    line-height: 140%;
                }

                button {
                    margin-top: 5px;
                }
            }

            .help_title {
                font-size: 16px;
                margin-bottom: 30px;
            }

            .help_block {

                h5 {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
            }

            .help_block:last-child {
                margin-bottom: 0;
            }
        }

        .payment_text {
            h6 {
                font-size: 16px;
                margin-bottom: 10px;
            }

            .logo {
                margin-bottom: 10px;
            }

            iframe {
                height: 177px;  
            }

            ul {
                gap: 5px;

                li {

                    .circle {
                        width: 10px;
                        height: 10px;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 160%;
                    }

                    font-size: 14px;
                }
            }

            p {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }

        .about_text {
            h6 {
                font-size: 14px;
                margin-bottom: 10px;
            }

            h5 {
                font-size: 16px;
                margin-bottom: 20px;
            }

            p {
                font-size: 14px;
                margin-bottom: 20px;
            }

            .about_cards {
                margin-bottom: 30px;
            }

            .about_card {

                img {
                    width: 50px;
                }

                span {
                    font-size: 12px;
                }
            }
        }
    }

    .articles {

        .articles_cards {
            margin: 30px 0 40px 0;
        }

        .pagination {
            margin-bottom: 40px;
            gap: 20px;

            .number_block {
                &:nth-child(n+4) {
                    display: none;
                }
            }
        }

        .scroll_top {
            width: 40px;
            right: 10px;
            height: 40px;
            bottom: -100px;
            background-color: #fff;

            svg {
                width: 21px;
                path {
                    fill: $coral;
                }
            }
        }

        .articles_card {
            flex-direction: column;
            gap: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            .articles_card_text {
                padding: 15px 8px 8px 8px;
                padding-left: 8px;
                width: 100%;

                h4 {
                    font-size: 24px;
                    line-height: 28px;
                }

                span {
                    font-size: 14px;
                    line-height: 16px;
                }

                .line {
                    height: 90px;
                }

                h6 {
                    font-size: 16px;
                    line-height: 19px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
    }

    .puzzles {
        padding-bottom: 40px;

        .puzzles_head {
            margin: 40px 0 30px 0;
            span {
                display: none;
            }

            h6 {
                display: flex;
                justify-content: end;
            }

            p {
                margin-top: 20px;
                font-size: 16px;
                font-weight: 600;
                line-height: 160%;
            }
        }

        .puzzles_card {
            gap: 20px;

            h6 {
                padding: 10px 10px 0 10px;
                font-size: 14px;
                height: 32px;
                font-weight: 400;
            }
        }
    }

    .series {

        .series_cards {
            margin: 40px 0;

            .col-6 {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        .series_card {
            a {
                margin: 10px 10px 20px 10px;
                font-size: 12px;
                font-weight: 500;
                line-height: 140%;
            }
        }
    }

    // Mobile menu 
    .mobile_menu {
        padding: 0;
        box-shadow: none;
        position: fixed !important;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: #00000087 !important;

        &__close {
            top: 25px;
            right: 25px;

            svg {
                width: 18.75px;
                height: auto;
            }
        }

        &__content {
            background: white;
            width: 100%;
            padding: 95px 10px 33px;
            position: relative;

            .notification {
                gap: 76px;
                margin-bottom: 30px;
                display: flex;

                a {
                    img {
                        width: 26.25px;
                    }

                    span {
                        background: #FE9B00;
                        color: #fff;
                        width: 28px;
                        height: 20px;
                        border-radius: 10px;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 14px;
                        text-align: center;
                        justify-content: center;
                        right: -6.8px;
                        bottom: 6.24px;
                        transform: translateX(100%);
                    }

                    i {
                        font-size: 20px;
                    }

                }
            }

            .content_top {
                gap: 34px;
                margin-bottom: 63px;
                justify-content: space-between;

                a {
                    gap: 6px;
                    font-size: 12px;
                    line-height: 14px;

                    img {
                        height: 15px;
                    }

                    i {
                        font-size: 20px;
                    }
                }
            }

            .content_bottom {
                flex-wrap: wrap;
                gap: 27px 10px;

                .phone {
                    gap: 13px;

                    img {
                        width: 15.62px;
                    }
                }

                .number {
                    gap: 7px;


                    a {
                        font-size: 12px;
                        line-height: 14px;
                    }
                }

                .flags {
                    padding: 7px 8px;

                    img {
                        width: 34px;
                    }
                }

                .feedback {
                    padding: 11px 46px 10px 45px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    width: 100%;
                }
            }
        }
    }
    // Mobile menu  end
}

@media only screen and (max-width: 720px) {
    .filter_category {
        top: 0;
        height: 100%;
        padding-top: 107px;

        &__content {
            .main_container {
                padding-top: 70px;
                padding-bottom: 59px;
            }

            .category_list {
                gap: 15px 25px;

                .line {
                    display: none;

                    &_1, &_3 {
                        display: block;
                        height: 1px;
                        width: 100%;
                    }
                }

                &__item {
                    width: calc(50% - 12.5px);
                    padding-top: 0;

                    &:nth-child(1) {
                        width: 100%;
                    }

                    &_in {
                        ul {
                            width: 50%;
                        }
                    }
                }
            }

            .category_range {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .product-card {
        gap: 0;  
        flex-direction: column;
        padding-bottom: 0;
        margin-bottom: 40px;
        border: 0;

        .description {
            font-size: 14px;
            margin-top: 20px;
        }

        &__left {
            width: 100%;
            margin-bottom: 30px;
        }

        &__parent_slider {
            margin-bottom: 20px;
            height: 100%;

            .swiper-slide {
                height: 100%;
            }

            .main_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .child_slider__wrap {
            max-width: 100%;
            justify-content: center !important;
            gap: 12px;
        }

        &__child_slider {
            margin: 0;

            &__btn {
                &_prev,
                &_next {
                    svg {
                        width: 25px;
                    }
                }
            }
        }

        &__right {
            width: 100%;
            padding: 10px 10px 31px;

            &_head {
                align-items: flex-start;
                gap: 20px;

                h2 {
                    font-size: 16px;
                }

                .card_like {
                    width: 30px;
                    height: 30px;

                    img, svg {
                        width: 15px;
                    }
                }
            }

            &_comment {
                margin-bottom: 30px;

                &__text {
                    gap: 8px;
                    align-items: center !important;

                    .stars {
                        gap: 5px;

                        svg {
                            width: 12px;
                            height: auto;
                        }
                    }

                    span {
                        font-size: 12px;
                        line-height: 14px;
                    }
                }

                .card_subtitle {
                    font-size: 12px;
                    line-height: 14px;
                }
            }

            &__datas {
                font-size: 14px;
                gap: 10px;
                margin-bottom: 30px;

                .key {
                    .line {
                        transform: translateY(-3px);
                    }
                }

                .value {
                    width: auto;
                    white-space: nowrap;
                }
            }

            &_foot {
                .price {
                    gap: 10px;

                    del {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 30px;
                    }
                }

                .main_btn {
                    padding: 5px 12px;
                    gap: 11px;
                    font-size: 16px;
                    line-height: 30px;

                    svg {
                        width: 17.5px;
                        height: auto;
                    }
                }
            }
        }
    }

    .about_author {
        gap: 10px;
        flex-direction: column;
        margin-bottom: 40px;

        h2 {
            font-size: 16px;
        }

        h3 {
            font-size: 14px;
        }

        p {
            font-size: 14px;
        }

        &__left {
            flex-direction: column;

            img {
                width: 100%;
                height: 250px;
                object-fit: cover;
                object-position: top;
            }
        }
    }
}

@media only screen and (max-width: 620px) {
    .product-slider {
        &__card {
            &_wrap {
                .product-slider__card_item {
                    width: 100%;

                    &:nth-child(n+10) {
                        display: none;
                    }
                }
            }
        }

        &.product {
            margin-bottom: 40px;

            .title {
                font-size: 16px;
                font-weight: 600;
                line-height: 19px;
            }

            .product-slider__card_wrap {
                .product-slider__card_item {
                    width: 100%;
                }
            }
        }
    }

    .product-commentary {
        margin-bottom: 40px;

        &__head {
            margin-bottom: 40px;

            h2 {
                font-size: 16px;
                font-weight: 600;
                line-height: 19px;
            }

            .main_btn {
                padding: 0;
                width: 60px;
                height: 40px;
                align-items: center;
                justify-content: center;

                span {
                    display: none;
                }
            }
        }

        &__item {
            &_head {
                margin-bottom: 18px;

                span {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 19px;
                }
            }

            &_stars {
                gap: 0; 
                justify-content: space-between;
                margin-bottom: 10px;

                span {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }

            &_type {
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
                margin-bottom: 20px;
            }

            &_description {
                font-size: 14px;
                margin-bottom: 20px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .wrapper {
        .main_container {
            padding: 0 10px;
        }
    }
}

@media only screen and (max-width: 576px) {
    .wrapper {
        .main_container {
            padding: 0 10px;
        }
    }

    .home-slider {
        width: calc(100% + 20px);
        margin-left: -10px;
        padding: 0;

        &_item {
            padding: 20px 10px 42px;
            height: 342px;

            img {
                height: 228px;
                width: 100%;
                object-fit: contain;
            }

            p {
                font-size: 14px;
                line-height: 16px;
                left: 10px;
                bottom: 42px;
            }

            &_card {
                gap: 10px;
                padding-top: 0;

                img {
                    height: auto;
                }

                h4 {
                    margin: 0;
                    font-size: 12px;
                    margin-top: 10px;
                    min-height: auto;
                }

                h3 {
                    font-size: 16px;
                }
            }
        }

        &__navigation {
            margin-top: 20px;

            button {
                svg {
                    width: 34px;
                    height: auto;
                }
            }
        }
    }

    .product-slider {
        &__head {
            margin: 40px 0 15px;

            h2 {
                font-size: 24px;
                line-height: 28px;
            }

            a {
                align-items: flex-end;
                gap: 6.8px;

                span {
                    font-size: 12px;
                }

                svg {
                    width: 16.25px;
                    height: auto;
                }
            }
        }

        &__card {
            &_item {
                .main_img {
                    img {
                        height: 200px;
                    }
                }

                .card {
                    &_like {
                        width: 30px;
                        height: 30px;

                        svg, img {
                            width: 21px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    .main_filter {
        margin-bottom: 40px;

        &__head {
            &_ing {
                font-size: 14px;
                line-height: 16px;
            }

            button {
                span {
                    display: none;
                }

                svg {
                    width: 22.5px;
                    height: auto;
                }
            }
        }
    }

    .main_pagination {
        margin: 40px 0;

        &__item {
            &:nth-child(n+4) {
                display: none;
            }
        }
    }

    .home-descriptions {
        margin: 20px 0 40px;
        gap: 10px;

        p {
            font-size: 16px;
        }
    }

    .discount_descriptions {
        margin-bottom: 40px;
        gap: 10px;

        p {
            font-size: 14px;
        }

        button {
            margin-top: -5px;
            font-size: 14px;
        }
    }

    .main_breadcrumbs {
        ul {
            align-items: center;
            gap: 7px;
            flex-wrap: wrap;

            a, span {
                font-size: 12px;
                display: flex;
                align-items: center;
            }

            .active {
                span {
                    font-size: 12px;
                }
            }
        }
    }

    .auth_block {
        &__content {
            height: 648px;
            padding: 0;

            input {
                font-size: 14px;
            }

            &_in {
                width: 100%;
                padding: 95px 0 20px;
            }

            .form_btn {
                padding: 13px 0 12px;
                font-size: 16px;
            }

            p, a {
                font-size: 14px;
            }

            .networks {
                &__text {
                    font-size: 12px;
                    margin-bottom: 10px;
                }
            }
        }

        &__close {
            top: 25.62px;
            right: 25.62px;
            transform: translate(0);

            svg {
                width: 18px;
                height: auto;
            }
        }

        &__btn_group {
            margin: 0 10px;
            width: calc(100% - 20px);

            button {
                padding: 9px 0;
                font-size: 16px;
            }
        }

        &__register,
        &__login,
        .edit_password {
            padding: 30px 10px 0;
        }
    }
}

@media only screen and (max-width: 576px) and (max-height: 648px) {
    .auth_block {
        display: block;

        &__content {
            overflow-y: scroll;
            height: 100%;

            &_in {
                height: 648px;
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    .filter_modal {
        &__content {
            width: 100%;
            padding: 30px 30px 30px 10px;
        }

        &__head {
            margin-bottom: 47px;

            &_left {
                font-size: 14px;
                gap: 15px;
            }
        }

        .main_btn {
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }

    .about_author {
        &__left {
            img {
                height: 200px;
            }
        }
    }
}