@media only screen and (max-width: 1100px) {

    header {
        .header_top {
            display: none;
        }

        .header_bottom_link {
            margin-right: 20px;
            gap: 40px;
            flex-shrink: 0;

            img {
                width: 30px;
            }

            .heart_btn {
                .number {
                    right: -28px;
                }
            }

            .shop_btn {
                .number {
                    right: -28px;
                }
            }

            .header_bottom_item {
                span {
                    display: none;
                }
            }
        }

        .header_bottom {
            gap: 10px;
            padding: 20px 0 40px 0;

            
            .logo {
                flex-shrink: 0;
            }
        }

        .header_search_media {
            display: flex;
            margin-bottom: 80px;
        }

        .header_search {
            display: none;
        }
    }

    footer {
        .footer_top {
            padding: 30px 0 40px 0;

            .main_container {
                flex-wrap: wrap;
                gap: 40px 20px;
                justify-content: start;
            }

            .footer_block {
                width: calc(100% / 3 - 14px);

                .footer_item_block {
                    white-space: nowrap;

                    br {
                        display: none;
                    }
                }

                h6 {
                    font-size: 18px;
                }

                .footer_link {
                    gap: 12px;

                    a {
                        font-size: 16px;
                    }

                    .footer_item_block {
                        font-size: 18px;
                    }
                }
            }
        }

        .footer_bottom {
            padding: 30px 0;

            .main_container {
                align-items: start;
                flex-direction: column-reverse;
                gap: 40px;

                p {
                    font-size: 18px;
                }
            }

            .footer_pay {
                span {
                    font-size: 18px;
                }

            }


            .footer_pay_in {
                gap: 22px;
            }
        }
    }

    .error {
        .error_wrapper {
            .error_text {
                position: static;
                transform: translateY(-20%);
            }
        }
    }

}

@media only screen and (max-width: 992px) {
    .contact {
    
        .right_block {
            width: 100%;
    
            .contact_map {
                iframe {
                    height: 259px;
                }
            }
    
            .contact_text {
                .contact_text_block {
                    margin-bottom: 30px;
                }

                h6 {
                    font-size: 24px;
                    line-height: 28px;
                }
            }
    
            .contact_text_block {
    
                h6 {
                    font-size: 24px;
                    line-height: 28px;
                }
    
                p {
                    font-size: 16px;
                }
            }
    
            .help_title {
                font-size: 24px;
                margin-bottom: 40px;
            }
    
            .help_block {
                margin-bottom: 30px;
    
                h5 {
                    font-size: 24px;
                }
            }
    
        }

        .payment_text {
            h6 {
                font-size: 24px;
                margin-bottom: 20px;
            }
    
            ul {
                margin-bottom: 30px;
    
                li {
    
                    .circle {
                        width: 14px;
                        height: 14px;
                    }
    
                    font-size: 16px;
                }
            }
    
            p {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }

        .about_text {
            h6 {
                font-size: 16px;
                margin-bottom: 20px;
    
                &:last-child {
                    margin-bottom: 0;
                }
            }
    
            h5 {
                font-size: 24px;
                margin-bottom: 30px;
            }
    
            p {
                font-size: 16px;
                margin-bottom: 20px;
            }
    
            .about_cards {
                margin-bottom: 30px;
            }
    
            .about_card {
    
                img {
                    width: 70px;
                }
    
                span {
                    font-size: 16px;
                }
            }
        }
    }

}

@media only screen and (max-width: 768px) {

    header {

        .header_bottom_link {
            margin-right: 0px;
            gap: 40px;
            flex-shrink: 0;
            align-items: center;

            .media_btn {
                @include flex-full-center;
            }

            img {
                width: 30px;
            }

            .heart_btn, .shop_btn {
                display: none;
            }

        }

        .header_bottom {
            gap: 10px;
            padding: 30px 0 40px 0;

            
            .logo {
                width: 140px;
                flex-shrink: 0;
            }
        }

        .header_search_media {  
            height: 38px;
            margin-bottom: 40px;

            .catalog_btn {
                width: auto;
                span {
                    display: none;
                }
            }
        }

    }

    footer {

        .footer_top {
            padding: 20px 0;

            .main_container {
                gap: 20px;
            }

            .footer_block {
                width: calc(100% / 2 - 10px);

                h6 {
                    margin-bottom: 10px;
                    font-size: 16px;
                }

                .footer_link {
                    gap: 15px;

                    a {
                        font-size: 14px;
                    }

                    .footer_item_block {
                        white-space: wrap;
                        max-width: 300px;
                        font-size: 16px;
                    }
                }
            }
        }
        
        .footer_bottom {
            padding: 28px 0;

            .main_container {
                gap: 20px;

                p {
                    font-size: 16px;
                }
            }

            .footer_pay {
                flex-direction: column;
                align-items: start;
                gap: 20px;

                span {
                    font-size: 14px;
                }
            }

            .footer_pay_in {
                gap: 12px;

                a {
                    width: 50px;
                }
            }
        }
    }

    .main_breadcrumb {
        span, a {
            font-size: 12px;
        }

        img {
            width: 14px;
        }
    }

    .error {
        margin: 40px 0;

        .error_wrapper {
            .error_text {
                h6 {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 14px;
                    margin-bottom: 39px;
                }

                a {
                    width: 100%;
                    height: 40px;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 30px;
                }
            }
        }
    }

    .contact {
        padding: 30px 0 40px 0;

        .left_block {   
            margin-bottom: 40px;
            flex-wrap: wrap;
            padding: 20px;
            width: 100%;
            flex-direction: row;
            gap: 24px 46px;

            a {
                white-space: nowrap;
                font-size: 16px;
                font-weight: 600;
                line-height: 19px;
            }
        }

        .right_block {
            .contact_map {
                iframe {
                    height: 117px;
                    margin-bottom: 40px;
                }
            }

            .contact_text {
                .contact_text_block {
                    margin-bottom: 30px;
                }

                h6 {
                    font-size: 16px;
                    line-height: 19px;
                }
            }

            .contact_text_block {

                h6 {
                    font-size: 16px;
                    line-height: 19px;
                }
    
                p {
                    font-size: 14px;
                    line-height: 160%;
                }
            }

            form {
                width: 100%;
                padding: 20px 10px;

                input, textarea {
                    font-size: 14px;
                    line-height: 140%;
                }

                button {
                    margin-top: 5px;
                }
            }

            .help_title {
                font-size: 16px;
                margin-bottom: 30px;
            }
    
            .help_block {

                h5 {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
            }

            .help_block:last-child {
                margin-bottom: 0;
            }
        }

        .payment_text {
            h6 {
                font-size: 16px;
                margin-bottom: 10px;
            }
    
            ul {
                gap: 5px;
    
                li {
    
                    .circle {
                        width: 10px;
                        height: 10px;
                    }
    
                    font-size: 14px;
                }
            }
    
            p {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }

        .about_text {
            h6 {
                font-size: 14px;
                margin-bottom: 10px;
            }
    
            h5 {
                font-size: 16px;
                margin-bottom: 20px;
            }
    
            p {
                font-size: 14px;
                margin-bottom: 20px;
            }
    
            .about_cards {
                margin-bottom: 30px;
            }
    
            .about_card {
    
                img {
                    width: 50px;
                }
    
                span {
                    font-size: 12px;
                }
            }
        }
    }
}