// colors
$red: #FF0000;
$black: #000000;
$coral: #FE9B00;
$green: #00CF08;
$white: #FFFFFF;
$grey-1: #D9D9D9;
$grey-2: #BABABA;
$grey-3: #959595;
$grey-4: #9B9B9B;
$grey-5: #898989;

// colors

// fonts
$Roboto: 'Roboto', sans-serif;
$Train: 'Train One', system-ui;
$Reggae: 'Reggae One', system-ui;
// fonts

// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .2s ease;
}

// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none !important;
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

body {
    font-family: $Roboto !important;
    font-style: normal;
}

input {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.container_wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

// bootstrap
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
label {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
// bootstrap

.main_container {
    max-width: 1380px;
    padding: 0 10px;
    margin: 0 auto;
}

.main_btn {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    border-radius: 10px;
    background-color: $coral;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
    @include transition();

    &:hover {
        box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
        background: rgb(237, 147, 5);
    }

    &:active {
        box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
        background: rgb(232, 141, 0);
    }
}

.main_breadcrumb {
    @include flex-center();
    gap: 5px;
    margin-bottom: 0;

    span, a {
        color: rgb(186, 186, 186);
        font-family: $Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0%;
    }

    span {
        color: $black;
    }
}

// header
header {
    .header_top {
        padding-top: 25px;
        @include flex-center();
        justify-content: space-between;

        .nav_link {
            @include flex-center();
            gap: 34px;
            margin-bottom: 0;
        }

        .nav_item {
            a {
                @include flex-center();
                gap: 11px;
                color: $black;
                font-family: $Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0%;
            }
        }
    }

    .header_top_right {
        @include flex-center();
        gap: 34px;

        .header_phone {
            @include flex-center();
            gap: 10px;
        }

        .header_number {
            display: flex;
            flex-direction: column;
            gap: 7px;

            a {
                color: $black;
                font-family: $Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0%;
            }
        }

        .header_flags {
            padding: 7px 10px;
            @include flex-center();
            gap: 10px;
            border-radius: 10px;
            background: $grey-1;
        }

        .header_feedback {
            padding: 10px 45px;
        }
    }
    
    .header_bottom {
        padding: 40px 20px 80px 0;
        gap: 100px;
        @include flex-center();
        justify-content: space-between;

    }

    .header_search_media {
        width: 100%;
        display: none;
        align-items: center;
        height: 40px;
        border-radius: 10px;
        overflow: hidden;


        .catalog_btn {
            flex-shrink: 0;
            width: 154px;
            padding: 9px 10px;
            height: 100%;
            color: $white;
            font-family: $Roboto;
            font-size: 18px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0%;
            text-transform: uppercase;
            gap: 10px;
            @include flex-center();
            background-color: $coral;
            @include transition();
            box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1); 

            &:hover {
                box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
                background: rgb(237, 147, 5);
            }
        
            &:active {
                box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
                background: rgb(232, 141, 0);
            }
        }

        input {
            width: 100%;
            height: 100%;
            border: 1px solid $coral;
            color: $grey-1;
            font-family: $Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0%;
            padding: 10px;
        }

        input::placeholder {
            color: $grey-1;
        }

        label {
            @include flex-full-center();
            margin-bottom: 0;
            flex-shrink: 0;
            cursor: pointer;
            height: 100%;
            padding: 10px;
            background-color: $coral;
            @include transition();
            box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1); 

            &:hover {
                box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
                background: rgb(237, 147, 5);
            }
        
            &:active {
                box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
                background: rgb(232, 141, 0);
            }
        }
    }

    .header_search {
        @include flex-center();
        height: 40px;
        border-radius: 10px;
        overflow: hidden;


        .catalog_btn {
            flex-shrink: 0;
            width: 154px;
            padding: 7px 20px 7px 20px;
            height: 100%;
            color: $white;
            font-family: $Roboto;
            font-size: 18px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0%;
            text-transform: uppercase;
            gap: 10px;
            @include flex-center();
            background-color: $coral;
            @include transition();
            box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1); 

            &:hover {
                box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
                background: rgb(237, 147, 5);
            }
        
            &:active {
                box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
                background: rgb(232, 141, 0);
            }
        }

        input {
            width: 503px;
            height: 100%;
            border: 1px solid $coral;
            color: $grey-1;
            font-family: $Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0%;
            padding: 10px 20px;
        }

        input::placeholder {
            color: $grey-1;
        }

        label {
            @include flex-full-center();
            flex-shrink: 0;
            cursor: pointer;
            height: 100%;
            padding: 10px 20px;
            background-color: $coral;
            @include transition();
            margin-bottom: 0;
            box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1); 

            &:hover {
                box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
                background: rgb(237, 147, 5);
            }
        
            &:active {
                box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
                background: rgb(232, 141, 0);
            }
        }
    }

    .header_bottom_link {
        @include flex-center();
        gap: 50px;
        margin-bottom: 0;

        a {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 3px;
            color: $black;
            font-family: $Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0%;
        }

        .heart_btn, .shop_btn {
            position: relative;

            .number {
                position: absolute;
                top: 0;
                right: -10px;
                color: $white;
                font-family: $Roboto;
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
                letter-spacing: 0%;
                border-radius: 10px;
                width: 28px;
                height: 20px;
                @include flex-full-center();
                background: $coral;
            }
        }

        .shop_btn {
            .number {
                right: -20px;
            }
        }
    }
}
// header

// footer
footer {
    background: $coral;

    .footer_top {
        padding: 50px 0 40px 0;
        border-bottom: 2px solid $white;

        .main_container {
            @include flex-start();
            justify-content: space-between;
        }
    }

    .footer_block {
        h6 {
            color: $white;
            font-family: $Roboto;
            font-size: 20px;
            font-weight: 800;
            line-height: 23px;
            letter-spacing: 0%;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .footer_link {
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
                color: $white;
                font-family: $Roboto;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0%;
            }

            .footer_item_block {
                color: $white;
                font-family: $Roboto;
                font-size: 20px;
                font-weight: 800;
                line-height: 23px;
                letter-spacing: 0%;
            }
        }
    }

    .footer_bottom {
        padding: 35px 0 50px 0;

        .main_container {
            @include flex-center();
            justify-content: space-between;

            p {
                color: $white;
                font-family: $Roboto;
                font-size: 20px;
                font-weight: 500;
                line-height: 23px;
                letter-spacing: 0%;
                text-transform: uppercase;
            }
        }

        .footer_pay {
            @include flex-center();
            gap: 40px;

            span {
                color: $white;
                font-family: $Roboto;
                font-size: 20px;
                font-weight: 500;
                line-height: 23px;
                letter-spacing: 0%;
            }
        }

        .footer_pay_in {
            @include flex-center();
            gap: 45px;
        }
    }
}
// footer

// error
.error {
    margin: 85px 0 107px 0;

    .main_container {
        @include flex-full-center();
    }

    .error_wrapper {
        max-width: 840px;
        position: relative;

        img {
            width: 100%;
        }

        .error_text {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h6 {
                margin-bottom: 70px;
                color: $black;
                font-family: $Roboto;
                font-size: 24px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0%;
            }

            a {
                height: 55px;
                width: 260px;
                @include flex-full-center();
                color: $white;
                font-family: $Roboto;
                font-size: 32px;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: 0%;
                border-radius: 10px;
                background: $coral;
                @include transition();

                &:hover {
                    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
                    background: rgb(237, 147, 5);
                }
            
                &:active {
                    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
                    background: rgb(232, 141, 0);
                }
            }
        }
    }
}
// error

// contact
.contact {
    padding: 50px 0 80px 0;

    .left_block {
        margin-bottom: 0;
        padding: 20px 17px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
        background: rgb(255, 255, 255);

        a {
            color: $black;
            font-family: $Roboto;
            font-size: 20px;
            font-weight: 600;
            line-height: 23px;
            letter-spacing: 0%;
            @include transition();
            position: relative;

            
            &:hover {
                color: $coral;

                &::before {
                    position: absolute;
                    content: '';
                    left: -16px;
                    height: 100%;
                    width: 2px;
                    background-color: $coral;
                }
            }
        }

        a.active {
            color: $coral;

            &::before {
                position: absolute;
                content: '';
                left: -16px;
                height: 100%;
                width: 2px;
                background-color: $coral;
            }
        }
    }

    .right_block {
        width: 100%;

        iframe {
            width: 100%;
            height: 500px;
            margin-bottom: 80px;
        }

        .contact_text {

            .contact_text_block {
                margin-bottom: 40px;
            }

            h6 {
                color: $black;
                font-size: 30px;
                font-weight: 600;
                line-height: 35px;
                letter-spacing: 0%;
                margin-bottom: 20px;
            }

            p {
                color: $black;
                font-size: 20px;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: 0%;

                a {
                    
                    color: $black;
                    border-bottom: 1px solid;
                }

            }
        }

        form {
            width: 379px;
            padding: 30px 25px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 3px;
            box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.15);
            background: rgb(255, 255, 255);

            input , textarea {
                border: 1px solid rgb(152, 146, 146);
                border-radius: 10px;
                background: $white;
                padding: 9px 23px;
                color: rgb(152, 146, 146);
                font-size: 16px;
                font-weight: 400;
                line-height: 140%;
                letter-spacing: 0%;
                resize: none;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: rgb(152, 146, 146);
                }
            }

            textarea {
                height: 200px;
            }

            button {
                margin-top: 10px;
                color: $white;
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: 0%;
                border-radius: 10px;
                background: $coral;
                height: 45px;
                width: 100%;
            }
        }

        .help_title {
            color: $black;
            font-size: 30px;
            font-weight: 600;
            line-height: 160%;
            letter-spacing: 0%;
            margin-bottom: 40px;
        }

        .help_block {
            margin-bottom: 40px;
            h5 {
                color: $black;
                font-size: 30px;
                font-weight: 600;
                line-height: 160%;
                letter-spacing: 0%;
                margin-bottom: 20px;
            }

            img {
                width: 100%;
            }
        }
    }

    .contact_imgs {
        margin-top: 80px;

        .contact_img_in {
            gap: 30px 0; 

            img {
                width: 100%;
            }
        }
    }
}
// contact


@import 'responsive';
@import 'glavny'
